<?xml version="1.0" encoding="utf-8"?>

<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
	xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	IgnorableNamespaces="uap uap3 mp iot rescap">
  
  <Identity
    Name="IntroSkillsTask-uwp"
    Publisher="CN=Brad"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="de8ff6a9-0df4-449d-9ae2-8869d0ab3251" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>IntroSkillsTask</DisplayName>
    <PublisherDisplayName>Brad</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App">
      <uap:VisualElements
        DisplayName="IntroSkillsTask"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="IntroSkillsTask"
        BackgroundColor="transparent"
        AppListEntry="none">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
	  <Extensions>
		<uap3:Extension Category="windows.appExtension">
		  <uap3:AppExtension Name="MistyRobotics.SDK" Id="IntroSkillsTask" DisplayName="IntroSkillsTask" Description="An example skill" PublicFolder="Public">
			<uap3:Properties>
			  <Service>IntroSkillsTask</Service>
			</uap3:Properties>
		  </uap3:AppExtension>
		</uap3:Extension>
		<Extension Category="windows.backgroundTasks" EntryPoint="IntroSkillsTask.StartupTask">
		  <BackgroundTasks>
			<iot:Task Type="startup" />
		  </BackgroundTasks>
		</Extension>
		<uap:Extension Category="windows.appService" EntryPoint="IntroSkillsTask.StartupTask">
		  <uap:AppService Name="IntroSkillsTask" />
		</uap:Extension>
			<uap:Extension Category="windows.fileTypeAssociation" Executable="Dummy.exe" EntryPoint="Dummy.app">
				<uap:FileTypeAssociation Name="filetypes">
					<uap:SupportedFileTypes>
						<uap:FileType>.json</uap:FileType>
					</uap:SupportedFileTypes>
				</uap:FileTypeAssociation>
			</uap:Extension>
	  </Extensions>
    </Application>
  </Applications>
  <Capabilities>
	<Capability Name="internetClient" />
		<uap:Capability Name="documentsLibrary"/>
	<rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
</Package>
